[Unit]
Description=SPIRE ServerAttestor TPM Verifier
After=network-online.target local-fs.target time-sync.target
Wants=network-online.target local-fs.target time-sync.target 
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=5s
ExecStart=spire-server-attestor-tpm-verifier /etc/spire/server-attestor-tpm/verifier.conf
ExecStartPre=rm -f /var/run/spire/server-attestor-tpm/verifier.sock

[Install]
WantedBy=multi-user.target

