[Unit]
Description=SPIRE ServerAttestor TPM Verifier
After=network-online.target local-fs.target time-sync.target
Wants=network-online.target local-fs.target time-sync.target 
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=5s
EnvironmentFile=-/etc/spiffe/default-trust-domain.env
EnvironmentFile=-/etc/spire/server-attestor-tpm/verifier.env
ExecStart=spire-server-attestor-tpm-verifier /etc/spire/server-attestor-tpm/verifier.conf -l
ExecStartPre=rm -f /var/run/spire/server-attestor-tpm/verifier.sock
ExecStartPre=mkdir -p /var/run/spire/server-attestor-tpm

[Install]
WantedBy=multi-user.target

